[submodule "src/bcr_bot"]
	path = src/bcr_bot
	url = https://github.com/blackcoffeerobotics/bcr_bot.git
[submodule "src/library/csm"]
	path = src/library/csm
	url = https://github.com/AlexKaravaev/csm.git
[submodule "src/library/ros2_laser_scan_matcher"]
	path = src/library/ros2_laser_scan_matcher
	url = https://github.com/AlexKaravaev/ros2_laser_scan_matcher.git
